.vscode
CLAUDE.md
.claude

.venv
.env

__examples
thirdparty
results*
logs

dataset
/data

dist
runs

.pytest_cache
.ruff_cache
~
**/__pycache__
*.egg-info
/build
cutlass
*.ptx
*.cubin
*.so

out
*.tex
*.pdf
*.ncu-rep
